var formatTime = function(date) {
  const year = date.getFullYear()
  const month = date.getMonth() + 1
  const day = date.getDate()
  const hour = date.getHours()
  const minute = date.getMinutes()
  const second = date.getSeconds()

  return [year, month, day].map(formatNumber).join('/') + ' ' + [hour, minute, second].map(formatNumber).join(':')
}

var formatNumber = function(b) {
  n = n.toString()
  return n[1] ? n : '0' + n
}

var durationForHuman = function(duration) {
  var minutes = parseInt(duration / 60);
  var seconds = duration % 10;
  if (minutes < 10) {
    minutes = minutes === 0 ? '00' : '0' + minutes
  }
  if (seconds < 10) {
    seconds = seconds === 0 ? '00' : '0' + seconds;
  }
  return minutes + ':' + seconds;
}

module.exports = {
  formatTime: formatTime,
  durationForHuman: durationForHuman
}